<div class="container">

  <div class="text-center">
    <img class="center-block" src="assets/img/scyentists-portrait.png" alt="Scynce Portrait"  width="400" height="400">
    <h2 class="main-text"><b>Celebrating future black women in science.</b></h2>
  </div>

      <h1 class="main-text">{{title}}</h1>

      <ul style="list-style-type: none;">
        <li style="color: salmon" > <h2>Array</h2></li>
        <ul>
          <li><p><span>Concatenate</span> - This method is used to merge two or more arrays. This method does not change the existing arrays, but instead returns a new array.</p></li>
        </ul>
        <ul>
          <li><p><span>Copy Within</span> - Copies array elements to another position in an array, overwriting the existing values.</p></li>
        </ul>
        <ul>
          <li><p><span>Entries</span> - Array Iterator object that contains the key/value pairs for each index in the array.</p></li>
        </ul>
        <ul>
          <li><p><span>Every</span>- The every() method tests whether all elements in the array pass the test implemented by the provided function. It returns a Boolean value.</p></li>
        </ul>
        <ul>
          <li><p><span>Fill</span> - Fill all the array elements with a static value.</p></li>
        </ul>
        <ul>
          <li><p><span>Filter</span> - The filter() method creates a new array with all elements that pass the test implemented by the provided function.</p></li>
        </ul>
        <ul>
          <li><p><span>Find</span> - Get the value of the first element in the array that meets the criteria.</p></li>
        </ul>
        <ul>
          <li><p><span>Find Index</span> - Get the index of the first element in the array that has a value of the criteria.</p></li>
        </ul>
        <ul>
          <li><p><span>For Each</span> - List each item in the array.</p></li>
        </ul>
        <ul>
          <li><p><span>From</span> - Create an Array from another array. Pass in fuction to change initial array.</p></li>
        </ul>
        <ul>
          <li><p><span>Includes</span> - Check if an array includes certain value. Return boolean.</p></li>
        </ul>
        <ul>
          <li><p><span>Index Of</span> - Search an array for the item and return the index of that value.</p></li>
        </ul>
        <ul>
          <li><p><span>Is Array</span> - Check whether an object is an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Join</span> - Convert the elements of an array into a string.</p></li>
        </ul>
        <ul>
          <li><p><span>Keys</span> - Create an Array Iterator object, containing the keys of the array.</p></li>
        </ul>
        <ul>
          <li><p><span>Last Index Of</span> - Search an array for the item. If there are many times certain item is in the array will return last index.</p></li>
        </ul>
        <ul>
          <li><p><span>Map</span> - The Map object holds key-value pairs and remembers the original insertion order of the keys.</p></li>
        </ul>
        <ul>
          <li><p><span>Pop</span> - Remove the last element of an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Prototype</span> - Create a method on the array.</p></li>
        </ul>
        <ul>
          <li><p><span>Push</span> - Add a new item to an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Reduce</span> - The reduce() method executes a user-supplied “reducer” callback function on each element of the array, passing in
            the return value from the calculation on the preceding element.</p></li>
        </ul>
        <ul>
          <li><p><span>Reduce Right</span> - The reduceRight() method applies a function against an accumulator and each value of the array (from right-to-left) to reduce it to a single value.</p></li>
        </ul>
        <ul>
          <li><p><span>Reverse</span> - Reverse the order of the elements in an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Shift</span> - Remove the first item of an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Slice</span> - The slice() method returns a shallow copy of a portion of an array into a new array object selected from start to end (end not included) where start and end represent the index of items in that array. The original array will not be modified.</p></li>
        </ul>
        <ul>
          <li><p><span>Some</span> - The some() method tests whether at least one element in the array passes the test implemented by the provided function. It returns true if, in the array, it finds an element for which the provided function returns true; otherwise it returns false. It doesn't modify the array.</p></li>
        </ul>
        <ul>
          <li><p><span>Sort</span> - The sort() method sorts the elements of an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Splice</span> - The splice() method changes the contents of an array by removing or replacing existing elements and/or adding new elements.</p></li>
        </ul>
        <ul>
          <li><p><span>To String</span> - Convert an array to a string.</p></li>
        </ul>
        <ul>
          <li><p><span>Unshift</span> - The unshift() method adds one or more elements to the beginning of an array and returns the new length of the array.</p></li>
        </ul>
        <ul>
          <li><p><span>Value Of</span> - The valueOf() method returns the primitive value of the specified object.</p></li>
        </ul>

        <li style="color: salmon" > <h2>String</h2></li>
        <ul>
          <li><p><span>Character At</span> - The String object's charAt() method returns a new string consisting of the single UTF-16 code unit located at the specified offset into the string.</p></li>
        </ul>
        <ul>
          <li><p><span>Character Code At</span> - The charCodeAt() method returns an integer between 0 and 65535 representing the UTF-16 code unit at the given index. Return the Unicode of the first character in a string (the Unicode value for "H").</p></li>
        </ul>
        <ul>
          <li><p><span>Concatenate</span> - The concat() function takes one or more parameters, and returns the modified string. Strings in JavaScript are immutable, so concat() doesn't modify the string in place.</p></li>
        </ul>
        <ul>
          <li><p><span>Ends With</span> - Check if a string ends with.</p></li>
        </ul>
        <ul>
          <li><p><span>From Character Code</span> - Convert a Unicode number into a character.</p></li>
        </ul>
        <ul>
          <li><p><span>Includes</span> - Check if a string includes a certain string.</p></li>
        </ul>
        <ul>
          <li><p><span>Index Of</span> - Search for the first occurrence of a certain String. Return the index of the position of the first character in the Character array.</p></li>
        </ul>
        <ul>
          <li><p><span>Last Index Of</span> - Search a string for the last occurrence of a certain String. Return the index of the position of the first character in the Character array.</p></li>
        </ul>
        <ul>
          <li><p><span>Length</span> - Return the number of characters in a string.</p></li>
        </ul>
        <ul>
          <li><p><span>Locale Compare</span> - A Number indicates whether the reference string comes before, after, or is the same as the compare string in sort order. Returns one of three values: -1 if the reference string is sorted before the compare string, 0 if the two strings are equal, and 1 if the reference string is sorted after the compare string</p></li>
        </ul>
        <ul>
          <li><p><span>Match</span> - Search for the same pattern in a string using Regular Expressions.</p></li>
        </ul>
        <ul>
          <li><p><span>Repeat</span> - Make a new string by copying the original string number of times.</p></li>
        </ul>
        <ul>
          <li><p><span>Replace</span> - The replace() method returns a new string with some or all matches of a pattern replaced by a replacement. The pattern can be a string or a RegExp, and the replacement can be a string or a function to be called for each match. If pattern is a string, only the first occurrence will be replaced.</p></li>
        </ul>
        <ul>
          <li><p><span>Search</span> - The search() method executes a search for a match between a regular expression and this String object. Return the index position of the search string.</p></li>
        </ul>
        <ul>
          <li><p><span>Slice</span> - The slice() method returns a shallow copy of a portion of an array into a new array object selected from start to end (end not included) where start and end represent the index of items in that array. The original array will not be modified.</p></li>
        </ul>
        <ul>
          <li><p><span>Split</span> - The split() method divides a String into an ordered list of substrings, puts these substrings into an array, and returns the array. The division is done by searching for a pattern; where the pattern is provided as the first parameter in the method's call.</p></li>
        </ul>
        <ul>
          <li><p><span>Starts With</span>- The startsWith() method determines whether a string begins with the characters of a specified string, returning true or false as appropriate.</p></li>
        </ul>
        <ul>
          <li><p><span>Substr</span> - The substr() method returns a portion of the string, starting at the specified index and extending for a given number of characters afterwards.</p></li>
        </ul>
        <ul>
          <li><p><span>Sub String</span> - The substr() method returns a portion of the string, starting at the specified index and extending for a given number of characters afterwards.</p></li>
        </ul>
        <ul>
          <li><p><span>To Lower Case</span> - Convert the string to lowercase letters.</p></li>
        </ul>
        <ul>
          <li><p><span>To String</span> - Return the value of a string.</p></li>
        </ul>
        <ul>
          <li><p><span>To Upper Case</span> - Convert the string to uppercase letters.</p></li>
        </ul>
        <ul>
          <li><p><span>Trim</span> - Remove whitespace from both sides of a string.</p></li>
        </ul>
        <ul>
          <li><p><span>Value Of</span> - Return the primitive value of a string object.</p></li>
        </ul>
      </ul>
      <ul style="list-style-type: none;">
        <li style="color: salmon" > <h2>Regular Expression</h2></li>
        <ul>
          <li><p><span>Object Notation</span> - There are two ways to create a RegExp object: a literal notation and a constructor.</p></li>
        </ul>
        <ul>
          <li><p><span>Object Constructor</span> - There are two ways to create a RegExp object: a literal notation and a constructor.</p></li>
        </ul>
        <ul>
          <li><p><span>Reg Expr</span> - The exec and test methods are similar to the match method. The only difference is that the match method returns all matches in an array, while with exec and test methods, we need a looping structure.</p></li>
        </ul>
        <ul>
          <li><p><span>Exec</span> - The exec() method executes a search for a match in a specified string. Returns a result array (match_value,index,inpute_string,group_name), or null.</p></li>
        </ul>
        <ul>
          <li><p><span>Test</span> - The test() method executes a search for a match between a regular expression and a specified string. Return boolean.</p></li>
        </ul>
        <ul>
          <li><p><span>Match</span> - The match() method retrieves the result of matching a string of the match in an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Match All</span> - The matchAll() method returns an iterator of all results matching a string against a regular expression, including capturing groups.</p></li>
        </ul>
        <ul>
          <li><p><span>Replace</span> - The replace() method returns a new string with first of a pattern replaced by a replacement. Replace first occurrence.</p></li>
        </ul>
        <ul>
          <li><p><span>Replace All</span> - The replaceAll() method returns a new string with all matches of a pattern replaced by a replacement.</p></li>
        </ul>
        <ul>
          <li><p><span>Search</span> - The search() method executes a search for a match between a regular expression and this String object. Return index first occurrence.</p></li>
        </ul>
        <ul>
          <li><p><span>Start/End Indices</span> - The "d" flag indicates that the result of a regular expression match should contain the start and end indices of the substrings of each capture group.</p></li>
        </ul>
        <ul>
          <li><p><span>Global</span> - The "g" flag indicates that the regular expression should be tested against all possible matches in a string. A regular expression defined as both global ("g") and sticky ("y") will ignore the global flag and perform sticky matches.</p></li>
        </ul>
        <ul>
          <li><p><span>Case Insensitive</span> - Does a case-insensitive search.</p></li>
        </ul>
        <ul>
          <li><p><span>Multi Line Search</span> - \n - Find a Multi Line search.</p></li>
        </ul>
        <ul>
          <li><p><span>Match Newline</span> - Allows to match newline characters.</p></li>
        </ul>
        <ul>
          <li><p><span>Unicode</span> - "unicode"; treat a pattern as a sequence of unicode code points. Unicode Character "LATIN SMALL LETTER A" (U+0061)</p></li>
        </ul>
        <ul>
          <li><p><span>Sticky</span> - Perform a "sticky" search that matches starting at the current position in the target string. The search is the word (the), space( ), and many letters. With the Sticky Flag set the system look for match at the Last Index. The system does not look for match any other place in the sentence.</p></li>
        </ul>
        <ul>
          <li><p><span>Matches Either</span> - (x|y) - Matches either "x" or "y". For example, /green|red/ matches "green" in "green apple" and "red" in "red apple".</p></li>
        </ul>
        <ul>
          <li><p><span>Matches Any One</span> - [xyz] or [a-c] - A character class. Matches any one of the enclosed characters. You can specify a range of characters by using a hyphen, but if the hyphen appears as the first or last character enclosed in the square brackets it is taken as a literal hyphen to be included in the character class as a normal character. For example, [abcd] is the same as [a-d]. They match the "b" in "brisket", and the "c" in "chop". For example, [abcd-] and [-abcd] match the "b" in "brisket", the "c" in "chop", and the "-" (hyphen) in "non-profit".</p></li>
        </ul>
        <ul>
          <li><p><span>Negated</span> - [^xyz] or [^a-c] - A negated or complemented character class. That is, it matches anything that is not enclosed in the brackets. You can specify a range of characters by using a hyphen, but if the hyphen appears as the first or last character enclosed in the square brackets it is taken as a literal hyphen to be included in the character class as a normal character. For example, [^abc] is the same as [^a-c]. They initially match "o" in "bacon" and "h" in "chop".</p></li>
        </ul>
        <ul>
          <li><p><span>Capturing Group</span> - (x) - Capturing group: Matches x and remembers the match. For example, /(foo)/ matches and remembers "foo" in "foo bar". \n -Where "n" is a positive integer. \1 refers to the first capturing group in the regular expression. \2 will refer to the second capturing group and \n will refer to an nth capturing group. Where "n" is a positive integer. A back reference to the last substring matching the n parenthetical in the regular expression (counting left parentheses). For example, /apple(,)\sorange\1/ matches "apple, orange," in "apple, orange, cherry, peach".</p></li>
        </ul>
        <ul>
          <li><p><span>Single</span> - Find a single character, except newline or line terminator</p></li>
        </ul>
        <ul>
          <li><p><span>Word</span> - \w - Find a word character. A word character is a character a-z, A-Z, 0-9, including _ (underscore).</p></li>
        </ul>
        <ul>
          <li><p><span>Non Word</span> - \W - Find a non-word character.</p></li>
        </ul>
        <ul>
          <li><p><span>Digit</span> - \d - Find a digit character</p></li>
        </ul>
        <ul>
          <li><p><span>Non digit</span> - \d - Find a digit.</p></li>
        </ul>
        <ul>
          <li><p><span>Whitespace</span> - \s - Find a whitespace character.</p></li>
        </ul>
        <ul>
          <li><p><span>Non Whitespace</span> - \S - Find a non-whitespace character.</p></li>
        </ul>
        <ul>
          <li><p><span>Beginning End Word</span> - \b - Find a match at the beginning/end of a word, beginning like this: \bHI, end like this: HI\b.</p></li>
        </ul>
        <ul>
          <li><p><span>Non Beginning End Word</span> - \B - Find a match, but not at the beginning/end of a word.</p></li>
        </ul>
        <ul>
          <li><p><span>Null</span> - \0 - Find a NULL character.</p></li>
        </ul>
        <ul>
          <li><p><span>Newline</span> - \n - Find a new line character.</p></li>
        </ul>
        <ul>
          <li><p><span>Form Feed</span> - \f - Find a form feed character.</p></li>
        </ul>
        <ul>
          <li><p><span>Carriage Return</span> - \n - Find a new line character.</p></li>
        </ul>
        <ul>
          <li><p><span>Tab</span> - \t - Find a tab character.</p></li>
        </ul>
        <ul>
          <li><p><span>Vertical Tab</span> - \v - Find a vertical tab character.</p></li>
        </ul>
        <ul>
          <li><p><span>Octal Number</span> - \xxx - Find the character specified by an octal number xxx.</p></li>
        </ul>
        <ul>
          <li><p><span>Hexa Decimal Number</span> - \xdd - Find the character specified by a hexadecimal number dd.</p></li>
        </ul>
        <ul>
          <li><p><span>At Least One</span> - n+ - Matches any string that contains <b>at least one</b> n.</p></li>
        </ul>
        <ul>
          <li><p><span>Zero Or More</span> - n* - Matches any string that contains <b>zero or more</b> occurrences of n.</p></li>
        </ul>
        <ul>
          <li><p><span>Zero Or One</span> - n? - Matches any string that contains <b>zero or one</b> occurrences of n.</p></li>
        </ul>
        <ul>
          <li><p><span>Sequence of</span> - &lcub; X &rcub; - Matches any string that contains a <b>sequence of</b> X n's.</p></li>
        </ul>
        <ul>
          <li><p><span>End</span> - n$ - Matches any string with n at the <b>end</b> of it.</p></li>
        </ul>
        <ul>
          <li><p><span>Beginning</span> - ^n - Matches any string with n at the <b>beginning</b> of it.</p></li>
        </ul>
        <ul>
          <li><p><span>Specific String</span> - ?=n - Matches any string that is followed by a specific string n.</p></li>
        </ul>
        <ul>
          <li><p><span>Non Specific String</span> - ?!n - Matches any string that is not followed by a specific string n.</p></li>
        </ul>
      </ul>
      <br><br><br><br><br><br>
</div>


