<div class="container">

  <div class="text-center">
    <img class="center-block" src="assets/img/scyentists-portrait.png" alt="Scynce Portrait"  width="400" height="400">
    <h2 class="main-text"><b>Celebrating future black women in science.</b></h2>
  </div>

      <h1 class="main-text">{{title}}</h1>

      <ul style="list-style-type: none;">
        <li style="color: salmon" > <h2>Array</h2></li>
        <ul>
          <li><p><span>Concatenate</span> - This method is used to merge two or more arrays. This method does not change the existing arrays, but instead returns a new array.</p></li>
        </ul>
        <ul>
          <li><p><span>Copy Within</span> - Copies array elements to another position in an array, overwriting the existing values.</p></li>
        </ul>
        <ul>
          <li><p><span>Entries</span> - Array Iterator object that contains the key/value pairs for each index in the array.</p></li>
        </ul>
        <ul>
          <li><p><span>Every</span>- The every() method tests whether all elements in the array pass the test implemented by the provided function. It returns a Boolean value.</p></li>
        </ul>
        <ul>
          <li><p><span>Fill</span> - Fill all the array elements with a static value.</p></li>
        </ul>
        <ul>
          <li><p><span>Filter</span> - The filter() method creates a new array with all elements that pass the test implemented by the provided function.</p></li>
        </ul>
        <ul>
          <li><p><span>Find</span> - Get the value of the first element in the array that meets the criteria.</p></li>
        </ul>
        <ul>
          <li><p><span>Find Index</span> - Get the index of the first element in the array that has a value of the criteria.</p></li>
        </ul>
        <ul>
          <li><p><span>For Each</span> - List each item in the array.</p></li>
        </ul>
        <ul>
          <li><p><span>From</span> - Create an Array from another array. Pass in fuction to change initial array.</p></li>
        </ul>
        <ul>
          <li><p><span>Includes</span> - Check if an array includes certain value. Return boolean.</p></li>
        </ul>
        <ul>
          <li><p><span>Index Of</span> - Search an array for the item and return the index of that value.</p></li>
        </ul>
        <ul>
          <li><p><span>Is Array</span> - Check whether an object is an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Join</span> - Convert the elements of an array into a string.</p></li>
        </ul>
        <ul>
          <li><p><span>Keys</span> - Create an Array Iterator object, containing the keys of the array.</p></li>
        </ul>
        <ul>
          <li><p><span>Last Index Of</span> - Search an array for the item. If there are many times certain item is in the array will return last index.</p></li>
        </ul>
        <ul>
          <li><p><span>Map</span> - The Map object holds key-value pairs and remembers the original insertion order of the keys.</p></li>
        </ul>
        <ul>
          <li><p><span>Pop</span> - Remove the last element of an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Prototype</span> - Create a method on the array.</p></li>
        </ul>
        <ul>
          <li><p><span>Push</span> - Add a new item to an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Reduce</span> - The reduce() method executes a user-supplied “reducer” callback function on each element of the array, passing in
            the return value from the calculation on the preceding element.</p></li>
        </ul>
        <ul>
          <li><p><span>Reduce Right</span> - The reduceRight() method applies a function against an accumulator and each value of the array (from right-to-left) to reduce it to a single value.</p></li>
        </ul>
        <ul>
          <li><p><span>Reverse</span> - Reverse the order of the elements in an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Shift</span> - Remove the first item of an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Slice</span> - The slice() method returns a shallow copy of a portion of an array into a new array object selected from start to end (end not included) where start and end represent the index of items in that array. The original array will not be modified.</p></li>
        </ul>
        <ul>
          <li><p><span>Some</span> - The some() method tests whether at least one element in the array passes the test implemented by the provided function. It returns true if, in the array, it finds an element for which the provided function returns true; otherwise it returns false. It doesn't modify the array.</p></li>
        </ul>
        <ul>
          <li><p><span>Sort</span> - The sort() method sorts the elements of an array.</p></li>
        </ul>
        <ul>
          <li><p><span>Splice</span> - The splice() method changes the contents of an array by removing or replacing existing elements and/or adding new elements.</p></li>
        </ul>
        <ul>
          <li><p><span>To String</span> - Convert an array to a string.</p></li>
        </ul>
        <ul>
          <li><p><span>Unshift</span> - The unshift() method adds one or more elements to the beginning of an array and returns the new length of the array.</p></li>
        </ul>
        <ul>
          <li><p><span>Value Of</span> - The valueOf() method returns the primitive value of the specified object.</p></li>
        </ul>

        <li style="color: salmon" > <h2>String</h2></li>
        <ul>
          <li><p><span>Character At</span> - The String object's charAt() method returns a new string consisting of the single UTF-16 code unit located at the specified offset into the string.</p></li>
        </ul>
        <ul>
          <li><p><span>Character Code At</span> - The charCodeAt() method returns an integer between 0 and 65535 representing the UTF-16 code unit at the given index. Return the Unicode of the first character in a string (the Unicode value for "H").</p></li>
        </ul>
        <ul>
          <li><p><span>Concatenate</span> - The concat() function takes one or more parameters, and returns the modified string. Strings in JavaScript are immutable, so concat() doesn't modify the string in place.</p></li>
        </ul>
        <ul>
          <li><p><span>Ends With</span> - Check if a string ends with.</p></li>
        </ul>
        <ul>
          <li><p><span>From Character Code</span> - Convert a Unicode number into a character.</p></li>
        </ul>
        <ul>
          <li><p><span>Includes</span> - Check if a string includes a certain string.</p></li>
        </ul>
        <ul>
          <li><p><span>Index Of</span> - Search for the first occurrence of a certain String. Return the index of the position of the first character in the Character array.</p></li>
        </ul>
        <ul>
          <li><p><span>Last Index Of</span> - Search a string for the last occurrence of a certain String. Return the index of the position of the first character in the Character array.</p></li>
        </ul>
        <ul>
          <li><p><span>Length</span> - Return the number of characters in a string.</p></li>
        </ul>
        <ul>
          <li><p><span>Locale Compare</span> - A Number indicates whether the reference string comes before, after, or is the same as the compare string in sort order. Returns one of three values: -1 if the reference string is sorted before the compare string, 0 if the two strings are equal, and 1 if the reference string is sorted after the compare string</p></li>
        </ul>
        <ul>
          <li><p><span>Match</span> - Search for the same pattern in a string using Regular Expressions.</p></li>
        </ul>
        <ul>
          <li><p><span>Repeat</span> - Make a new string by copying the original string number of times.</p></li>
        </ul>
        <ul>
          <li><p><span>Replace</span> - The replace() method returns a new string with some or all matches of a pattern replaced by a replacement. The pattern can be a string or a RegExp, and the replacement can be a string or a function to be called for each match. If pattern is a string, only the first occurrence will be replaced.</p></li>
        </ul>
        <ul>
          <li><p><span>Search</span> - The search() method executes a search for a match between a regular expression and this String object. Return the index position of the search string.</p></li>
        </ul>
        <ul>
          <li><p><span>Slice</span> - The slice() method returns a shallow copy of a portion of an array into a new array object selected from start to end (end not included) where start and end represent the index of items in that array. The original array will not be modified.</p></li>
        </ul>
        <ul>
          <li><p><span>Split</span> - The split() method divides a String into an ordered list of substrings, puts these substrings into an array, and returns the array. The division is done by searching for a pattern; where the pattern is provided as the first parameter in the method's call.</p></li>
        </ul>
        <ul>
          <li><p><span>Starts With</span>- The startsWith() method determines whether a string begins with the characters of a specified string, returning true or false as appropriate.</p></li>
        </ul>
        <ul>
          <li><p><span>Substr</span> - The substr() method returns a portion of the string, starting at the specified index and extending for a given number of characters afterwards.</p></li>
        </ul>
        <ul>
          <li><p><span>Sub String</span> - The substr() method returns a portion of the string, starting at the specified index and extending for a given number of characters afterwards.</p></li>
        </ul>
        <ul>
          <li><p><span>To Lower Case</span> - Convert the string to lowercase letters.</p></li>
        </ul>
        <ul>
          <li><p><span>To String</span> - Return the value of a string.</p></li>
        </ul>
        <ul>
          <li><p><span>To Upper Case</span> - Convert the string to uppercase letters.</p></li>
        </ul>
        <ul>
          <li><p><span>Trim</span> - Remove whitespace from both sides of a string.</p></li>
        </ul>
        <ul>
          <li><p><span>Value Of</span> - Return the primitive value of a string object.</p></li>
        </ul>
      </ul>
      <br><br><br><br><br><br>

</div>


