.navbar-nav .nav-link{
  color: #fff;
}
.dropend .dropdown-toggle{
  color: salmon;
  margin-left: 1em;
}
.dropdown-item:hover{
  background-color: lightsalmon;
  color: #fff;
}
.dropdown .dropdown-menu{
  display: none;
}
.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
  display: block;
  margin-top: .125em;
  margin-left: .125em;
}
@media screen and (min-width:769px) {
  .dropend:hover > .dropdown-menu{
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle{
    margin-left: .5em;
  }
}

#MenuSelect{
  border-radius: 8px;
  background-color:#fba69c;
  border: 2px solid ghostwhite;
  font-size: 16px;
  width: 150px;
  color:white;
}

 .beadCrumb{
  background: none!important;
  border: none;
  padding: 5px !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: white;
  cursor: pointer;
}

table{
    margin-left: 30px;
}

 .hidden{
     display:none;
 }

a {
    margin: 10px;
    color:white;
}

