<div *ngIf="showBreadCrumbs; else elseBlock">

  <div style="background-color: salmon; height:150px">

    <div id="cos-bread-crumb-navigation">

    <a class="fs-5 fw-bold cos-bead-crumb" href="/">Home</a>

    <button [ngClass]="[main]"  (click)="ListMenu({ 'Name':'Main'} )"  >Main</button>

    <button [ngClass]="[mainArray]" (click)="ListMenu({ 'Name':'Array'} )"  >Array</button>
    <button [ngClass]="[mainString]" (click)="ListMenu({ 'Name':'String'} )"  >String</button>
    <button [ngClass]="[mainRegExpr]" (click)="ListMenu({ 'Name':'RegExpr'} )"  >Regular Expressions</button>

    <button [ngClass]="[arrayMethodCalls]" (click)="ListMenu({ 'Name':'Array Method Calls'} )"  >Array -> Method Calls</button>
    <button [ngClass]="[arrayDataStructures]" (click)="ListMenu({ 'Name':'Array Data Structures'} )"  >Data Structures</button>
    <button [ngClass]="[arrayFunctionCalls]" (click)="ListMenu({ 'Name':'Array Function Calls'} )"  >Function Calls</button>

    <button [ngClass]="[stringMethodCalls]" (click)="ListMenu({ 'Name':'String Method Calls'} )"  >String -> Method Calls</button>
    <button [ngClass]="[stringSearchCalls]" (click)="ListMenu({ 'Name':'String Search Calls'} )"  >Search Calls</button>

    <button [ngClass]="[regExprObjects]" (click)="ListMenu({ 'Name':'RegExpr Method Calls'} )"  >Regular Expressions -> Objects</button>
    <button [ngClass]="[regExprClasses]" (click)="ListMenu({ 'Name':'RegExpr Classes'} )"  >RegExpr Classes</button>
    <button [ngClass]="[regExprMethods]" (click)="ListMenu({ 'Name':'RegExpr Methods'} )"  >RegExpr Methods</button>
    <button [ngClass]="[regExprStringMethods]" (click)="ListMenu({ 'Name':'RegExpr String Methods'} )"  >String Methods</button>
    <button [ngClass]="[regExprModifiers]" (click)="ListMenu({ 'Name':'RegExpr Modifiers'} )"  >Modifiers</button>
    <button [ngClass]="[regExprGroupsAndRanges]" (click)="ListMenu({ 'Name':'RegExpr Groups and Ranges'} )"  >Groups and Ranges</button>
    <button [ngClass]="[regExprMetaCharacters]" (click)="ListMenu({ 'Name':'RegExpr Meta Characters'} )"  >Meta Characters</button>
    <button [ngClass]="[regExprQuantifiers]" (click)="ListMenu({ 'Name':'RegExpr Quantifiers'} )"  >Quantifiers</button>

    <div *ngIf="showArrayMethodCalls; else elseBlockArrayMethodCalls">
      <table class="cos-bread-crumb-table" >

        <tr>
          <td><a class="cos-bread-crumb-item" href="Array/Concatenate">Concatenate</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/Copy_Within">Copy Within</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/Fill">Fill</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/Includes">Includes</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/Index_Of">Index Of</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/IsArray">Is Array</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/Join">Join</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/Last_Index_Of">Last Index Of</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/Reverse">Reverse</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/Slice">Slice</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/Splice">Splice</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/To_String">To String</a></td>
          <td><a class="cos-bread-crumb-item" href="Array/Value_Of">Value Of</a></td>
        </tr>

      </table>

    </div>
    <div>
      <ng-template #elseBlockArrayMethodCalls>
      </ng-template>
    </div>


      <div *ngIf="showArrayDataStructures; else elseBlockArrayDataStructures">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="Array/Entries">Entries</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/For_Each">For Each</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Keys">Keys</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Map">Map</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Pop">Pop</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Prototype">Prototype</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Push">Push</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Shift">Shift</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Sort">Sort</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Unshift">Unshift</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockArrayDataStructures>
        </ng-template>
      </div>


      <div *ngIf="showArrayFunctionCalls; else elseBlockArrayFunctionCalls">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="Array/Every">Every</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Filter">Filter</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Find">Find</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Find_Index">Find Index</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/From">From</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Reduce">Reduce</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Reduce_Right">Reduce Right</a></td>
            <td><a class="cos-bread-crumb-item" href="Array/Some">Some</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockArrayFunctionCalls>
        </ng-template>
      </div>

      <div *ngIf="showStringMethodCalls; else elseBlockStringMethodCalls">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="String/Character_At">Character At</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Character_Code_At">Character Code At</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Concatenate">Concatenate</a></td>
            <td><a class="cos-bread-crumb-item" href="String/From_Character_Code">From Character Code</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Length">Length</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Repeat">Repeat</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Slice">Slice</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Split">Split</a></td>
          </tr>
          <tr>
            <td><a class="cos-bread-crumb-item" href="String/Substr">Substr</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Sub_String">Sub String</a></td>
            <td><a class="cos-bread-crumb-item" href="String/To_Lower_Case">To Lower Case</a></td>
            <td><a class="cos-bread-crumb-item" href="String/To_String">To String</a></td>
            <td><a class="cos-bread-crumb-item" href="String/To_Upper_Case">To Upper Case</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Trim">Trim</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Value_Of">Value Of</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockStringMethodCalls>
        </ng-template>
      </div>


      <div *ngIf="showStringSearchCalls; else elseBlockStringSearchCalls">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="String/Ends_With">Ends With</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Includes">Includes</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Index_Of">Index Of</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Last_Index_Of">Last Index Of</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Locale_Compare">Locale Compare</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Match">Match</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Replace">Replace</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Search">Search</a></td>
            <td><a class="cos-bread-crumb-item" href="String/Starts_With">Starts With</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockStringSearchCalls>
        </ng-template>
      </div>


      <div *ngIf="showRegExprObjects; else elseBlockRegExprObjects">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Object_Notation">Object Notation</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Object_Constructor">Object Constructor</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockRegExprObjects>
        </ng-template>
      </div>

      <div *ngIf="showRegExprClasses; else elseBlockRegExprClasses">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="RegExpr/RegExpr">Reg Expr</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockRegExprClasses>
        </ng-template>
      </div>

      <div *ngIf="showRegExprMethods; else elseBlockRegExprMethods">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Exec">Exec</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Test">Test</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockRegExprMethods>
        </ng-template>
      </div>

      <div *ngIf="showRegExprStringMethods; else elseBlockRegExprStringMethods">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Match">Match</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Match_All">Match All</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Replace">Replace</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Replace_All">Replace All</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Search">Search</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockRegExprStringMethods>
        </ng-template>
      </div>

      <div *ngIf="showRegExprModifiers; else elseBlockRegExprModifiers">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Start_End_Indices">Start/End Indices</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Global">Global</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Case_Insensitive">Case Insensitive</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Multi_Line_Search">Multi Line Search</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Match_Newline">Match Newline</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Unicode">Unicode</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Sticky">Sticky</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockRegExprModifiers>
        </ng-template>
      </div>

      <div *ngIf="showRegExprGroupsAndRanges; else elseBlockRegExprGroupsAndRanges">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Matches_Either">Matches Either</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Matches_Any_One">Matches Any One</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Negated">Negated</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Capturing_Group">Capturing Group</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockRegExprGroupsAndRanges>
        </ng-template>
      </div>

      <div *ngIf="showRegExprMetaCharacters; else elseBlockRegExprMetaCharacters">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Single">Single</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Word">Word</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Non_Word">Non Word</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Digit">Digit</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Non_Digit">Non digit</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Whitespace">Whitespace</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Non_Whitespace">Non Whitespace</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Beginning_End_Word">Beginning End Word</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Non_Beginning_End_Word">Non Beginning End Word</a></td>
          </tr>
          <tr>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Null">Null</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/New_line">Newline</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Form_Feed">Form Feed</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Carriage_Return">Carriage Return</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Tab">Tab</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Vertical_Tab">Vertical Tab</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Octal_Number">Octal Number</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Hexadecimal_Number">Hexa Decimal Number</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockRegExprMetaCharacters>
        </ng-template>
      </div>

      <div *ngIf="showRegExprQuantifiers; else elseBlockRegExprQuantifiers">
        <table class="cos-bread-crumb-table" >

          <tr>
            <td><a class="cos-bread-crumb-item" href="RegExpr/At_Least_One">At Least One</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Zero_Or_More">Zero Or More</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Zero_Or_One">Zero Or One</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Sequence_Of">Sequence of</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/End">End</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Beginning">Beginning</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Specific_String">Specific String</a></td>
            <td><a class="cos-bread-crumb-item" href="RegExpr/Non_Specific_String">Non Specific String</a></td>
          </tr>

        </table>

      </div>
      <div>
        <ng-template #elseBlockRegExprQuantifiers>
        </ng-template>
      </div>



    </div>

  </div>

</div>

<div>
  <ng-template #elseBlock>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: salmon; height:75px">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <!-- Array -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Array
              </a>

              <ul class="dropdown-menu">

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Method Calls
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="Array/Concatenate">Concatenate</a></li>
                    <li><a class="dropdown-item" href="Array/Copy_Within">Copy Within</a></li>
                    <li><a class="dropdown-item" href="Array/Fill">Fill</a></li>
                    <li><a class="dropdown-item" href="Array/Includes">Includes</a></li>
                    <li><a class="dropdown-item" href="Array/Index_Of">Index Of</a></li>
                    <li><a class="dropdown-item" href="Array/IsArray">Is Array</a></li>
                    <li><a class="dropdown-item" href="Array/Join">Join</a></li>
                    <li><a class="dropdown-item" href="Array/Last_Index_Of">Last Index Of</a></li>
                    <li><a class="dropdown-item" href="Array/Reverse">Reverse</a></li>
                    <li><a class="dropdown-item" href="Array/Slice">Slice</a></li>
                    <li><a class="dropdown-item" href="Array/Splice">Splice</a></li>
                    <li><a class="dropdown-item" href="Array/To_String">To String</a></li>
                    <li><a class="dropdown-item" href="Array/Value_Of">Value Of</a></li>
                  </ul>
                </li>

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Data Structures
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="Array/Entries">Entries</a></li>
                    <li><a class="dropdown-item" href="Array/For_Each">For Each</a></li>
                    <li><a class="dropdown-item" href="Array/Keys">Keys</a></li>
                    <li><a class="dropdown-item" href="Array/Map">Map</a></li>
                    <li><a class="dropdown-item" href="Array/Pop">Pop</a></li>
                    <li><a class="dropdown-item" href="Array/Prototype">Prototype</a></li>
                    <li><a class="dropdown-item" href="Array/Push">Push</a></li>
                    <li><a class="dropdown-item" href="Array/Shift">Shift</a></li>
                    <li><a class="dropdown-item" href="Array/Sort">Sort</a></li>
                    <li><a class="dropdown-item" href="Array/Unshift">Unshift</a></li>
                  </ul>
                </li>


                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Function Calls
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="Array/Every">Every</a></li>
                    <li><a class="dropdown-item" href="Array/Filter">Filter</a></li>
                    <li><a class="dropdown-item" href="Array/Find">Find</a></li>
                    <li><a class="dropdown-item" href="Array/Find_Index">Find Index</a></li>
                    <li><a class="dropdown-item" href="Array/From">From</a></li>
                    <li><a class="dropdown-item" href="Array/Reduce">Reduce</a></li>
                    <li><a class="dropdown-item" href="Array/Reduce_Right">Reduce Right</a></li>
                    <li><a class="dropdown-item" href="Array/Some">Some</a></li>
                  </ul>
                </li>


              </ul>

            </li>


            <!-- String -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                String
              </a>

              <ul class="dropdown-menu">

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Method Calls
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="String/Character_At">Character At</a></li>
                    <li><a class="dropdown-item" href="String/Character_Code_At">Character Code At</a></li>
                    <li><a class="dropdown-item" href="String/Concatenate">Concatenate</a></li>
                    <li><a class="dropdown-item" href="String/From_Character_Code">From Character Code</a></li>
                    <li><a class="dropdown-item" href="String/Length">Length</a></li>
                    <li><a class="dropdown-item" href="String/Repeat">Repeat</a></li>
                    <li><a class="dropdown-item" href="String/Slice">Slice</a></li>
                    <li><a class="dropdown-item" href="String/Split">Split</a></li>
                    <li><a class="dropdown-item" href="String/Substr">Substr</a></li>
                    <li><a class="dropdown-item" href="String/Sub_String">Sub String</a></li>
                    <li><a class="dropdown-item" href="String/To_Lower_Case">To Lower Case</a></li>
                    <li><a class="dropdown-item" href="String/To_String">To String</a></li>
                    <li><a class="dropdown-item" href="String/To_Upper_Case">To Upper Case</a></li>
                    <li><a class="dropdown-item" href="String/Trim">Trim</a></li>
                    <li><a class="dropdown-item" href="String/Value_Of">Value Of</a></li>
                  </ul>
                </li>

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Search Calls
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="String/Ends_With">Ends With</a></li>
                    <li><a class="dropdown-item" href="String/Includes">Includes</a></li>
                    <li><a class="dropdown-item" href="String/Index_Of">Index Of</a></li>
                    <li><a class="dropdown-item" href="String/Last_Index_Of">Last Index Of</a></li>
                    <li><a class="dropdown-item" href="String/Locale_Compare">Locale Compare</a></li>
                    <li><a class="dropdown-item" href="String/Match">Match</a></li>
                    <li><a class="dropdown-item" href="String/Replace">Replace</a></li>
                    <li><a class="dropdown-item" href="String/Search">Search</a></li>
                    <li><a class="dropdown-item" href="String/Starts_With">Starts With</a></li>

                  </ul>
                </li>

              </ul>

            </li>

            <!-- Regular Expressions -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Regular Expressions
              </a>

              <ul class="dropdown-menu">

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Objects
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="RegExpr/Object_Notation">Object Notation</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Object_Constructor">Object Constructor</a></li>
                  </ul>
                </li>

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    RegExpr Classes
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="RegExpr/RegExpr">Reg Expr</a></li>
                  </ul>
                </li>

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    RegExpr Methods
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="RegExpr/Exec">Exec</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Test">Test</a></li>
                  </ul>
                </li>

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    String Methods
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="RegExpr/Match">Match</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Match_All">Match All</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Replace">Replace</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Replace_All">Replace All</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Search">Search</a></li>
                  </ul>
                </li>

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Modifiers
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="RegExpr/Start_End_Indices">Start/End Indices</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Global">Global</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Case_Insensitive">Case Insensitive</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Multi_Line_Search">Multi Line Search</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Match_Newline">Match Newline</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Unicode">Unicode</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Sticky">Sticky</a></li>
                  </ul>
                </li>

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Groups and Ranges
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="RegExpr/Matches_Either">Matches Either</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Matches_Any_One">Matches Any One</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Negated">Negated</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Capturing_Group">Capturing Group</a></li>
                  </ul>
                </li>

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Meta Characters
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="RegExpr/Single">Single</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Word">Word</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Non_Word">Non Word</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Digit">Digit</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Non_Digit">Non digit</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Whitespace">Whitespace</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Non_Whitespace">Non Whitespace</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Beginning_End_Word">Beginning End Word</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Non_Beginning_End_Word">Non Beginning End Word</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Null">Null</a></li>
                    <li><a class="dropdown-item" href="RegExpr/New_Line">Newline</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Form_Feed">Form Feed</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Carriage_Return">Carriage Return</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Tab">Tab</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Vertical_Tab">Vertical Tab</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Octal_Number">Octal Number</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Hexadecimal_Number">Hexa Decimal Number</a></li>


                  </ul>
                </li>

                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Quantifiers
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="RegExpr/At_Least_One">At Least One</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Zero_Or_More">Zero Or More</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Zero_Or_One">Zero Or One</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Sequence_Of">Sequence of</a></li>
                    <li><a class="dropdown-item" href="RegExpr/End">End</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Beginning">Beginning</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Specific_String">Specific String</a></li>
                    <li><a class="dropdown-item" href="RegExpr/Non_Specific_String">Non Specific String</a></li>
                  </ul>
                </li>

              </ul>


            </li>

          </ul>
        </div>
      </div>
    </nav>


  </ng-template>
</div>

<button id="cos-menu-select" (click)="changeMenu()" > <b>{{buttonLabel}} </b> </button>




