span {
  font-family: 'Verdana';
  color:darkblue;
  margin-top: 10px;
  margin-left: 50px;
}

p {
  text-align: center;
  font-family: 'Monaco';
  color: whitesmoke;
  padding: 20px;
}

.banner{
  background-color:purple;
  height: 120px;
}

footer{
  background-color:purple;
  color:white;
}
#organization-name{
  color:white;
}
