<div class="container">
  <br>
  <div class="banner">
    <table>
      <tr>
        <td><img class="center" src="assets/img/church-logo.png" alt="Church of Scyence"  width="105" height="75" style="margin-left: 40px; margin-top: 5px"></td>
        <td><p style="font-size: 45px;"> {{ title }} </p > </td>
      </tr>
    </table>

  </div>
  <app-navbar></app-navbar>
  <div>
    <router-outlet></router-outlet>
  </div>
  <br><br><br><br>

  <footer class="fixed-bottom">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      &#169; <span id="organization-name">Church of Scyence</span>
    </div>
    <!-- Copyright -->
  </footer>



</div>



