<div *ngIf="displayResult.showPage; else elseBlockFunc">
  <div class="work-area">


   <p>Show Page: {{ displayResult.showPage}} </p>
   <p>Type Results: {{ displayResult.typeResult}} </p>


      <!-- Array Results -->
      <div *ngIf="displayResult.showArrayResults; else elseBlockCall">
          <h2 class="section-header" >Array Result</h2><br><br>
          <table>
              <tr>
                  <td *ngFor="let element of displayResult.resultArray; index as j">
                      <span class="table-index">{{j}}</span>
                  </td>
              </tr>
              <tr>
                  <td *ngFor="let element of displayResult.resultArray; index as j">
                      <span class="table-data">{{element}}</span>
                  </td>
              </tr>
          </table>
      </div>
      <div>
          <ng-template #elseBlockCall>
          </ng-template>
      </div>

      <!-- String Results -->
      <div *ngIf="displayResult.showStringResults; else elseBlockCall">
          <h2 class="section-header" >String Result</h2><br><br>
          <h1>{{displayResult.resultString}}</h1>
      </div>
      <div>
          <ng-template #elseBlockCall>
          </ng-template>
      </div>

      <!-- Number Results -->
      <div *ngIf="displayResult.showNumberResults; else elseBlockCall">
          <h2 class="section-header" >Number Result</h2><br><br>
          <h1>{{displayResult.resultNumber}}</h1>
      </div>
      <div>
          <ng-template #elseBlockCall>
          </ng-template>
      </div>


      <!-- Boolean Results -->
      <div *ngIf="displayResult.showBooleanResults; else elseBlockCall">
          <h2 class="section-header" >Boolean Result</h2><br><br>
          <h1>{{displayResult.resultBoolean}}</h1>
      </div>
      <div>
          <ng-template #elseBlockCall>
          </ng-template>
      </div>




  </div>
</div>
<div>
  <ng-template #elseBlockFunc>
  </ng-template>
</div>


