.table-data{
    margin: 10px;
}

table, td, th {
    border: 3px solid darkblue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}

.row-color{
    background-color: #F18787;
}

td.index:nth-child(even) {
    background-color: lightskyblue;
}
