.work-area{
  margin-top: 10px;
  margin-bottom: 10px;
  padding:20px;
  border: 2px solid teal;
  border-radius: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-header{
  color:salmon;
}

.section-page{
  color:salmon;
}
.section-component-type{
  color:purple;
}

.page-header{
  padding-top:40px;
  margin-left: 30px;
}

h1{
  color:teal;
  font-family: "Tahoma";
}

h2{
  color: #cc33ff;
  padding-top:40px;
  margin-left: 30px;
  font-family: "Tamil Sangam MN";
}

p{
  margin: 20px;
}
label{
  margin-left: 20px;
  margin-right: 5px;
}

.ctrl-row{
  margin-bottom: 10px;
}

.addition-field-info{
  color:darkgray;
  font-size: 12px;
  font-style: italic;
}

/*HINT COMPONENT*/

.logic-space{
  padding-left: 20px;
}
